.myDiv {
	padding: 2%;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 0;
}
h2 {
	font-family: Ubuntu;
	font-size: large;
	color: #d1c5c5;
}

body {
	background-color: #21211f;
}

blockquote {
	padding: .5%;
	font-style: italic;
	font-size: medium;
	font-family: Ubuntu;
	font-weight: light;
	color: #d1c5c5;
	padding-bottom: 0;
	padding-top: 0;
	margin-bottom: 0;
	margin-bottom: 0;
}


blockquote::first-letter {
	font-size: 200%;
	font-weight: bold;
}

.Signature {
	font-style: italic;
	font-weight: lighter;
	font-family: Ubuntu;
	text-align: right;
	font-size: medium;
	color: #9300d6;
}